@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  color: var(--color-1);
}

:root {
  --color-1: #1d1515;
  --color-2: #bdb7a8;
  --color-3: #6b7176;
  --color-4: #424446;
}
