@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #c480ee;
  overflow: hidden;
  z-index: -1;
  opacity: 0.8;
}

.background span {
  width: 26vmin;
  height: 26vmin;
  border-radius: 26vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #914cc9;
  top: 98%;
  left: 32%;
  animation-duration: 34s;
  animation-delay: -46s;
  transform-origin: -7vw 23vh;
  box-shadow: -52vmin 0 7.290530251663464vmin currentColor;
}
.background span:nth-child(1) {
  color: #914cc9;
  top: 63%;
  left: 26%;
  animation-duration: 39s;
  animation-delay: -47s;
  transform-origin: 11vw 18vh;
  box-shadow: 52vmin 0 6.6505760304900905vmin currentColor;
}
.background span:nth-child(2) {
  color: #914cc9;
  top: 57%;
  left: 60%;
  animation-duration: 36s;
  animation-delay: -41s;
  transform-origin: -11vw -8vh;
  box-shadow: -52vmin 0 7.439714894064582vmin currentColor;
}
.background span:nth-child(3) {
  color: #d2aaeb;
  top: 82%;
  left: 100%;
  animation-duration: 36s;
  animation-delay: -12s;
  transform-origin: -2vw 0vh;
  box-shadow: 52vmin 0 7.35761032451661vmin currentColor;
}
.background span:nth-child(4) {
  color: #d2aaeb;
  top: 55%;
  left: 65%;
  animation-duration: 55s;
  animation-delay: -7s;
  transform-origin: 1vw 16vh;
  box-shadow: 52vmin 0 6.7420517735236025vmin currentColor;
}
.background span:nth-child(5) {
  color: #914cc9;
  top: 36%;
  left: 8%;
  animation-duration: 19s;
  animation-delay: -20s;
  transform-origin: -22vw 5vh;
  box-shadow: -52vmin 0 6.921695941583585vmin currentColor;
}
.background span:nth-child(6) {
  color: #d2aaeb;
  top: 54%;
  left: 81%;
  animation-duration: 47s;
  animation-delay: -39s;
  transform-origin: 16vw -17vh;
  box-shadow: -52vmin 0 7.3615647728407465vmin currentColor;
}
.background span:nth-child(7) {
  color: #914cc9;
  top: 26%;
  left: 56%;
  animation-duration: 18s;
  animation-delay: -12s;
  transform-origin: -13vw -3vh;
  box-shadow: -52vmin 0 6.892099284251421vmin currentColor;
}
.background span:nth-child(8) {
  color: #d2aaeb;
  top: 74%;
  left: 36%;
  animation-duration: 55s;
  animation-delay: -18s;
  transform-origin: 16vw 11vh;
  box-shadow: -52vmin 0 7.393120947772078vmin currentColor;
}
.background span:nth-child(9) {
  color: #d2aaeb;
  top: 1%;
  left: 90%;
  animation-duration: 37s;
  animation-delay: -33s;
  transform-origin: 20vw -13vh;
  box-shadow: -52vmin 0 7.405463723806754vmin currentColor;
}
.background span:nth-child(10) {
  color: #d2aaeb;
  top: 67%;
  left: 79%;
  animation-duration: 50s;
  animation-delay: -22s;
  transform-origin: -18vw -24vh;
  box-shadow: -52vmin 0 7.47031055127115vmin currentColor;
}
.background span:nth-child(11) {
  color: #d2aaeb;
  top: 46%;
  left: 75%;
  animation-duration: 17s;
  animation-delay: -13s;
  transform-origin: -5vw -5vh;
  box-shadow: 52vmin 0 7.2201749950122665vmin currentColor;
}
.background span:nth-child(12) {
  color: #914cc9;
  top: 41%;
  left: 44%;
  animation-duration: 16s;
  animation-delay: -44s;
  transform-origin: 23vw 12vh;
  box-shadow: 52vmin 0 7.129262675496496vmin currentColor;
}
.background span:nth-child(13) {
  color: #d2aaeb;
  top: 4%;
  left: 76%;
  animation-duration: 55s;
  animation-delay: -35s;
  transform-origin: -5vw 7vh;
  box-shadow: -52vmin 0 7.2408021087297225vmin currentColor;
}
.background span:nth-child(14) {
  color: #572481;
  top: 51%;
  left: 56%;
  animation-duration: 52s;
  animation-delay: -27s;
  transform-origin: -13vw 17vh;
  box-shadow: -52vmin 0 6.737399198821118vmin currentColor;
}
.background span:nth-child(15) {
  color: #b167df;
  top: 48%;
  left: 89%;
  animation-duration: 42s;
  animation-delay: -5s;
  transform-origin: -19vw 11vh;
  box-shadow: -52vmin 0 6.935655209850919vmin currentColor;
}
.background span:nth-child(16) {
  color: #d2aaeb;
  top: 79%;
  left: 18%;
  animation-duration: 21s;
  animation-delay: -7s;
  transform-origin: -18vw 9vh;
  box-shadow: 52vmin 0 7.243398095433451vmin currentColor;
}
